@model IEnumerable<WebProgOdev.Models.Category>



<p>
    <a asp-action="Create">Yeni Oluştur</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.kategoriAdi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.kategoriAdi)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.kategoriID">Düzenle</a> |
                <a asp-action="Details" asp-route-id="@item.kategoriID">Detay</a> |
                <a asp-action="Delete" asp-route-id="@item.kategoriID">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
